<nav class="site-nav">
  <div class="nav-inner">
    <a class="brand" href="{{ '/' | relative_url }}">
      <img 
        src="{{ '/assets/images/goblinoid-favicon.png' | relative_url }}"
        alt="Site Icon"
        width="50"
        height="35"
        class="site-icon"
      >
      {{ site.title }}
    </a>

    <div class="links">
      <a href="{{ '/rpg/' | relative_url }}"{% if page.url contains '/rpg/' %} class="active"{% endif %}>RPG</a>
      <a href="{{ '/art/' | relative_url }}"{% if page.url contains '/art/' %} class="active"{% endif %}>Art</a>
      <a href="{{ '/experiments/' | relative_url }}"{% if page.url contains '/experiments/' %} class="active"{% endif %}>Experiments</a>
      <a href="{{ '/guestbook/' | relative_url }}"{% if page.url contains '/guestbook/' %} class="active"{% endif %}>Guestbook</a>
      <a href="{{ '/about/' | relative_url }}"{% if page.url contains '/about/' %} class="active"{% endif %}>About</a>
    </div>
  </div>
</nav>
<hr class="rule">
